/* Tabular Layout */
.row {
    display: flex;
    justify-content: center;
    gap: 0;
}

.col {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 0;
}

/* General */

.textButton {
    padding: 3px;
    background-color: #a0f0a0;
    border: 2px solid #604040
}

.statusText {
    color: darkred;
    font-size: 14px;
    font-style: italic;
}

.displayRow {
    background-color: #ff80c0;
}

.panel {
    width: 360px;
    background-color: #ffc0c0;
    text-align: center;
    gap: 10px;
}

.halfPanel {
    width: 180px;
    height: 180px;
    background-color: #ffc0c0;
    text-align: center;
    gap: 0;
}

.panel button, .halfPanel button {
    flex: 0 0 auto;
    align-self: flex-start;
    width: auto;
}

/* Menu Bar */
#menuTable {
    width: 100%;
    background-color: #f0a0a0;
}

#menuLogoCell {
    width: 120px;
    height: 50px;
}

#menuTitleCell {
    width: 60px;
}

#menuOptionsCell {
    text-align: right;
}

/* Intro Section */
#introDiv {
    text-align: center;
    background-color: #ffc0c0;
}

#introDiv p {
    margin: 0 auto;
    margin-bottom: 8px;
    max-width: 360px;
}

/* Game Content */
#gameContentDiv {
    display: none;
}

/* Word Panel */
#wordsDiv {
    background-color: #ff90c0;
}

#wordsPanel {
    width: 360px;
    height: 120px;
    padding: 3px;
    background-color: #808080;
}

.singleTabWord {
    margin: 0 auto;
}

.multiTabRow {
    text-align: center;
}

.multiTabWord {
    display: inline;
    margin-right: 10px;
}

.wordTable td {
    width: 21px;
    height: 21px;
    padding: 2px;
    font-size: 17px;
    background-color: #e09090;
    border: 1px solid black;
}

/* Initial Bid Panel */
#initialBidDiv {
    background-color: #f080c0;
}

#initialBidPanel {
    width: 360px;
    background-color: #f0a0a0;
    text-align: center;
}

/* Main Options */
#mainOptionsDiv {
    display: none;
}

/* Sage Panel */
#sageDiv {
    display: none;
}

#sageChoiceDiv {
    display: none;
}

/* Player Letter Guess */
#playerGuessDiv {
    display: none;
}

/* Status Panel */
#statusPanel {
    text-align: center;
}

/* Money */
#moneyDiv {
    text-align: center;
    background-color: #ff80c0;
}

#moneyDiv p {
    margin: 0 auto;
    margin-bottom: 5px;
    max-width: 360px;
}
